.intro {
    position: relative;
    height: 250px;
    background: #0a223d;
    border-radius: 20px;
    width: 93vw;
    margin: 10px auto 0 auto;
    color: #fff;
    padding: 100px 0 0 80px;


    @media screen and (min-width: 730px) {

        background: linear-gradient(88.6deg, rgba(10, 34, 61, 0.95) 30.2%, rgba(10, 34, 61, 0) 94.87%), url(../asstes/under.png);
        height: 438px;
    }


    &__content {

        @media screen and (min-width: 730px) {



            position: absolute;
            width: 315px;
            height: 77px;
            left: 136px;
            top: 192px;

            h1 {

                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 72px;
                line-height: 107.4%;
            }
        }




    }


}