.navbar {
	margin: 20px 100px 0 100px;
}

.navbar-brand {
	font-size: 2rem !important;
	font-weight: 500;
}

.navbar-brand > span {
	color: #dd383a;
}

.nav-link {
	font-size: 0.9rem;
	font-weight: 500;
}

/* Toggler */
.line {
	width: 30px;
	height: 3px;
	margin: 5px 0;
	background: #0a223d;
}

/* Media Queries */

@media screen and (max-width: 730px) {
	.navbar {
		margin: 0;
    }
    
    
}